
a:hover, a:focus{
	text-decoration: none !important;
}
.nav-category ul li a.active{
	color: #039be5;
}
.product-item-category {
    margin-bottom: 30px;
    padding: 26px 20px 15px;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    box-shadow: 0 1px 2px #cccccc;
}
.add_to_cart{
	cursor: pointer;
}
.table > tbody > tr > td{
    vertical-align: middle;
}
.text-center{
    text-align: center;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.padding-bottom-20{
    padding-bottom: 20px;
}
.cart{
    background-color: white;
}
.tong_cart{
    font-weight: bold;
}
.text-blue{
    color: #3c8dbc;
    cursor: pointer;
}
.product-info.left{
    margin-left: 15px;
}
.product.product-has-image{
    margin:20px 0px;
}
.register-b-content, .login-b-content{
    background-color: #fff;
}
.logged{
    color: #fff;
    margin-right: 15px;
}
.product_content{
    padding-bottom: 50px;
}
.pagination li.active {
    background-color: #3c8dbc;
}
.pagination{
    background-color: #fff;
}
.background-white{
    background-color: #fff;
    padding: 10px;
}
.search-title{
    margin-bottom: 35x;
    font-size: 16px;
}
#service_info_right{
    padding: 20px;
}
@media (min-width: 200px) {
    .product-item img{
        width: 80% !important;
    }
    .main_block_section .carousel{
        height: 610px;
        margin-top: -100px;
    }
}

@media (min-width: 768px) {
    .product-item img{
        width: 80% !important;
    }
    .main_block_section .carousel{
        height: 610px;
        margin-top: -100px;
    }
}

@media (min-width: 992px) {
    .product-item img{
        width: 90% !important;
    }
    .main_block_section .carousel{
        height: 700px;
        margin-top: -150px;
    }
}